/*body,
 table,
    thead,
    tr,
    tbody,
    th,
    td {
        text-align: center;
    }*/
body{
	text-align: center !important;
}

.form-group{
background-color: #FAEBD7;
border: 1px solid;
padding: 10px;
box-shadow: 5px 10px;
}

p{
	margin-top: 25px;
	font-weight: normal;
	font-size: 30px;
}
input{
	text-align: left;
}
.mssg{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}
